
.col-1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.col-2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.col-4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
